img {
  max-width: 100%;
  max-height: 100%;
}

.main-container {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: var(--container-padding-left);
  padding-right: var(--container-padding-right);
  box-sizing: border-box;
}


/* Стилизация слайдера */
.banner {
  width: 100%;
  height: 313px;
}

.slider {
  width: 100%;
  height: 301px;

  flex-grow: 1;

  position: relative;

  background: url(../img/main/best-price.png) 0% 10% no-repeat, url(../img/main/slider-background.png) no-repeat;
  box-shadow: 0px 1px 10px rgba(208, 208, 208, 0.25);
  border-radius: 12px;
}

.slider-container {
  width: 55%;
  height: 100%;
  padding: 31px 59px 58px 56px;
  box-sizing: border-box;

  position: absolute;
  right: 0;

  display: flex;
  flex-direction: column;

  color: #FFFFFF;
  background-color: #5D68CF;
  border-radius: 0px 12px 12px 0px;
}

.slider__text-title {
  margin: 0;

  font-family: 'SF Compact Rounded';
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
}

.slider__text-description {
  margin: 10px 0;

  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
}

.slider__text-status {
  display: flex;
}

.slider__text-status-item {
  margin-right: 30px;

  display: inline-block;

  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  text-decoration: underline;
}

.slider__text-price {
  margin: 13px 0;

  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.slider__text-price span {
  font-weight: 500;
  font-size: 26px;
  line-height: 30px;
}

.slider__text-action {
  display: flex;
}

.slider__text-button-buy {
  width: 142px;
  height: 33px;
  padding: 0;
  margin-right: 9px;

  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #272727;

  background-color: #FFFFFF;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}

.slider__text-button-cart {
  width: 55px;
  height: 33px;
  padding: 5px 0 0 0;
  box-sizing: border-box;

  background-color: #5D68CF;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  cursor: pointer;
}

.slider__text-button-buy:hover,
.slider__text-button-cart:hover {
  opacity: 90%;
}

.slider__text-button-buy:active,
.slider__text-button-cart:active {
  position: relative;
  top: 1px;
}

.guarantees {
  width: 100%;
  height: 49px;
  margin-top: 26px;
  box-sizing: border-box;

  display: flex;
  justify-content: flex-end;
}

.guarantees-container {
  width: 100%;

  display: flex;
  justify-content: space-between;
}

.guarantees-container__item {
  display: flex;
  align-items: center;

  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #272727;
}

.guarantees-container__item img {
  margin-right: 12px;
}

/* Стилизация раздела Спецпредложений */

.container__special-offers {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 10px;
}

.container__special-offers-top {
  display: flex;
  flex-direction: row;
  font-family: 'SF Compact Rounded';
  font-weight: 500;
  font-size: 36px;
  line-height: 43px;
  color: #272727;
}

.special-offers-link-to-discounts {
  text-decoration: none;
  text-decoration: underline;
  color: #D41A36;
  font-size: 16px;
  text-align: center;
  margin-left: auto;
}

.container__special-offers-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

  gap: 30px;
  margin-top: 30px;
}

.conteiner-offer {
  height: 325px;
  padding-bottom: 10px;
  box-shadow: 0px 1px 10px rgba(208, 208, 208, 0.25);
}

.conteiner-offer-top {
  display: flex;
  justify-content: space-between;
  margin-top: 13px;
}

.conteiner-offer-top-star {
  margin-right: 10px;
}

.conteiner-offer-top-star9 {
  margin-left: auto;
  margin-right: 10px;
}

.conteiner-offer-product-image {
  height: 86px;
  width: auto;
  align-self: center;
  background-image: url("../img/main_special_offers/product_img.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.conteiner-offer-product-info {
  height: 200px;
  display: flex;
  flex-direction: column;
  padding: 9px 9px 9px 9px;
  box-sizing: border-box;
  border-radius: 0px 12px 12px 0px;
  margin-bottom: 10px;
}

.product-info-description {
  font-family: 'SF Compact Rounded';
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #272727;
}

.product-info-amount {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  margin-top: 5px;
  color: #494949;
}

.product-info-format {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  margin: 3px 0 0 0;
  color: #494949;
}

.product-info-delivery-availability {
  display: flex;
  justify-content: space-between;
}

.product-info-delivery {
  margin: 9px 0 0 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  text-decoration-line: underline;
  color: #7D7D7D;
}

.product-info-availability {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  text-decoration-line: underline;
  color: #219653;
  margin: 9px 0 0 0;
}

.product-info-price {
  color: #272727;
  font-family: 'SF Compact Rounded';
  font-weight: 500;
  font-size: 18px;
  line-height: 19px;
  font-weight: bolder;
  margin: 11px 0 0 0;
}

.product-info-price-change {
  display: flex;
}

.product-info-price-strike {
  color: #272727;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  margin: 11px 0 0 0;
  margin-left: auto;

}

.product-info-action {
  display: flex;
  margin-bottom: 20px;
  margin-top: 9px;
}


.product-info-action-button-buy {
  width: 142px;
  height: 33px;
  padding: 0;
  margin-right: 9px;

  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: white;

  background-color: #5661CB;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}

.product-info-action-button-mark {
  width: 55px;
  height: fit-content;
  padding: 0;
  box-sizing: border-box;
  align-self: center;

  background-color: white;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 100px;
  margin-left: auto;


}

.button-mark-image {
  width: 55px;
  height: 33px;
  padding: 0;
  box-sizing: border-box;

  background-color: white;
  border: 1px solid white;
  border-radius: 4px;
  cursor: pointer;
  opacity: 90%;
}

.product-info-price-red {
  color: #D41A36;
  font-family: 'SF Compact Rounded';
  font-weight: 500;
  font-size: 18px;
  line-height: 19px;
  font-weight: bolder;
  margin: 11px 0 0 0;
}

/* Стилизация дополнительных секций */
.section-top {
  width: 100%;
  height: 43px;
  margin-bottom: 32px;
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
}

.section-top__title {
  width: 50%;
  margin: 0;

  font-family: 'SF Compact Rounded';
  font-weight: 500;
  font-size: 36px;
  line-height: 43px;
  color: #272727;
}

.section-top__link {
  padding-top: 15px;
  box-sizing: border-box;

  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.section-top__link a {
  text-decoration: underline;
  color: #5661CB;
}

.section-top__link a:hover {
  opacity: 90%;
}

.services,
.showroom {
  width: 100%;
  margin-top: 77px;
  box-sizing: border-box;
}

.services {
  height: 307px;
}

.services-items {
  display: flex;
  column-gap: 33px;
  justify-content: space-between;
}

.services-items__item {
  width: 25%;
  padding: 100px 40px 30px 40px;

  background-repeat: no-repeat;
  background-position: top 30px left 40px;

  font-family: 'Roboto', sans-serif;
  color: #272727;

  box-shadow: 0px 1px 20px rgba(208, 208, 208, 0.4);
  border-radius: 20px;
}

.services-items__item:hover {
  background-color: #5661CB;
  color: #FFFFFF
}

.services-items__item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

.services-items__item-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.services-items__item1 {
  background-image: url(../img/main/car-icon_purple.svg);
}

.services-items__item1:hover {
  background-image: url(../img/main/car-icon_white.svg);
}

.services-items__item2 {
  background-image: url(../img/main/worker-icon_purple.svg);
}

.services-items__item2:hover {
  background-image: url(../img/main/worker-icon_white.svg);
}

.services-items__item3 {
  background-image: url(../img/main/bricks-icon_purple.svg);
}

.services-items__item3:hover {
  background-image: url(../img/main/bricks-icon_white.svg);
}

.services-items__item4 {
  background-image: url(../img/main/paper-icon_purple.svg);
}

.services-items__item4:hover {
  background-image: url(../img/main/paper-icon_white.svg);
}

.showroom {
  height: 335px;
}

.showroom-photos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.showroom-photos__item {
  width: 32%;
}

.partners {
  width: 100%;
  height: 71px;
  margin-top: 105px;
  margin-bottom: 12px;
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* новое  */
/* Медиазапросы */
@media screen and (max-width: 1440px) {
  .guarantees {
    margin-top: 41px;
    padding: 0 15px;
  }

  .container__special-offers-list {
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  }

  .partners {
    margin-top: 98px;
  }
}

/* решаю задачу */
@media screen and (max-width: 1390px) {
  .container__special-offers-list {
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  }
}

@media screen and (max-width: 1290px) {
  .container__special-offers-list {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  }
}

@media screen and (max-width: 1239px) {
  .container__special-offers-list {
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  }

  .partners__item3 {
    display: none;
  }
}

@media screen and (max-width: 1161px) {
  .container__special-offers-list {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  .container__special-offers-top {
    display: flex;
    flex-direction: row;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 26px;
    line-height: 31px;
    color: #272727;
  }

  #offer9,
  #offer10 {
    display: none;
  }
}

@media screen and (max-width: 1041px) {
  .container__special-offers-list {
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  }
}

@media screen and (max-width: 1000px) {
  .banner {
    margin-top: 8px;
  }

  .slider-container {
    width: 50%;
    padding: 15px 59px 58px 56px;
  }

  .guarantees {
    height: 39px;
    margin-top: 21px;
  }

  .guarantees-container__item {
    font-size: 12px;
    line-height: 14px;
  }

  .container__special-offers-list {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  .container__special-offers-top {
    display: flex;
    flex-direction: row;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 26px;
    line-height: 31px;
    color: #272727;
  }

  #offer9,
  #offer10 {
    display: none;
  }

  .section-top {
    height: 30px;
  }

  .section-top__title {
    font-size: 26px;
    line-height: 30px;
  }

  .section-top__link {
    padding-top: 3px;
  }

  .services {
    margin-top: 60px;
  }

  .services-items {
    column-gap: 28px;
  }

  .services-items__item {
    padding: 90px 38px 28px 38px;

    background-size: 74px;
  }

  .services-items__item-title {
    font-size: 16px;
    line-height: 18px;
  }

  .services-items__item-text {
    font-size: 12px;
    line-height: 14px;
  }

  .services-items__item4 {
    display: none;
  }

  .showroom {
    height: 244px;
    margin-top: 60px;
  }

  .partners {
    margin-top: 30px;
  }

  .partners__item5 {
    display: none;
  }
}

@media screen and (max-width: 939px) {
  .container__special-offers-list {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  }
}

@media screen and (max-width: 916px) {
  .container__special-offers-list {
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  }

  .container__special-offers-top {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #272727;
  }

  #offer2,
  #offer3,
  #offer4,
  #offer5,
  #offer6,
  #offer9,
  #offer10 {
    display: none;
  }

  .special-offers-link-to-discounts {
    display: none;
  }
}

@media screen and (max-width: 859px) {
  .container__special-offers-list {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

@media screen and (max-width: 768px) {
  .slider-container {
    width: 50%;
    padding: 15px;
    box-sizing: border-box;
  }

  #guarantee4 {
    display: none;
  }

  .section-top {
    height: 24px;
    margin-bottom: 22px;
  }

  .section-top__title {
    width: 100%;

    font-size: 20px;
    line-height: 23px;
  }

  .section-top__link {
    display: none;
  }

  .services {
    margin-top: 50px;
    height: 240px;
  }

  .services-items {
    column-gap: 12px;
  }

  .services-items__item {
    width: 30%;
    padding: 70px 10px 20px 10px;

    background-size: 54px;
    background-position: top 20px center;
  }

  .services-items__item-title {
    font-size: 14px;
    line-height: 16px;
    text-align: center;
  }

  .services-items__item-text {
    font-size: 10px;
    line-height: 12px;
    text-align: center;
  }

  .showroom {
    height: 188px;
    margin-top: 50px;
  }

  .partners {
    height: 65px;
    margin-top: 42px;
    padding: 0 10px;
  }

  .partners__item7 {
    display: none;
  }
}

/* need to be done  */
@media screen and (max-width: 709px) {
  .container__special-offers-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 30px;
    margin-top: 30px;
  }

  .conteiner-offer-top {
    display: none;
  }


  .conteiner-offer-product-image {
    height: 80px;
    margin-top: 10px;
    width: 180px;
    margin-left: 20px;
  }

  .product-info-description {
    font-size: 12px;
    line-height: 14px;
    width: 140px;
  }

  .product-info-price {
    width: 140px;
  }

  .product-info-amount {
    display: none;
  }

  .product-info-format {
    display: none;
  }

  .product-info-delivery-availability {
    display: none;
  }

  .product-info-delivery {
    font-size: 11px;
    line-height: 13px;

  }

  .product-info-availability {
    display: none;
  }

  .product-info-action {

    margin-bottom: 20px;
    margin-top: 9px;
  }

  .conteiner-offer {
    height: 300px;
  }


  .product-info-action-button-buy {
    height: 31px;
    margin: 0;

  }

  .button-mark-image {
    display: none;
  }

  .conteiner-offer-product-info {
    height: 100px;
  }

  #offer1,
  #offer2,
  #offer3,
  #offer4,
  #offer5,
  #offer6 {
    display: grid;
  }

  #offer7,
  #offer8,
  #offer9,
  #offer10 {
    display: none;
  }
}

@media screen and (max-width: 690px) {
  .conteiner-offer-product-image {
    height: 80px;
    margin-top: 10px;
    width: 150px;
    margin-left: 20px;
  }
}

@media screen and (max-width: 649px) {
  .container__special-offers-list {
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  }

}

@media screen and (max-width: 616px) {
  .container__special-offers-list {
    gap: 10px;
  }

  .conteiner-offer {
    padding-bottom: 10px;
  }

  .conteiner-offer-product-image {
    padding: 0px;
    margin: 0px;
  }

  .services {
    height: 220px;
  }

  .services-items__item {
    width: 50%;
  }

  .services-items__item1 {
    display: none;
  }
}

@media screen and (max-width: 590px) {
  .slider {
    background: url(../img/main/slider-background.png) no-repeat;
  }

  .slider-container {
    width: 100%;

    background-color: #5d68cfc1;
    border-radius: 12px;
  }

  .slider__text {
    width: 80%;
  }

  .showroom-photos__item {
    width: 48%;
  }

  .showroom-photos__item3 {
    display: none;
  }

  #guarantee3 {
    display: none;
  }

  .container__special-offers-list {
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  }

  .conteiner-offer-product-image {
    height: 80px;
    width: 150px;
    align-self: center;
    background-image: url("../img/main_special_offers/product_img.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .conteiner-offer-product-image {
    width: 150px;
  }

  .conteiner-offer-product-info {
    width: 150px;
  }

  .product-info-description {
    width: 150px;
  }

  .product-info-action-button-buy {
    width: 200px;
    margin-left: 10px;
  }

  .product-info-action {
    width: 200px;
  }
}

@media screen and (max-width: 541px) {

  .container__special-offers-list {
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    margin-left: 0px;
  }

  .conteiner-offer-product-image {
    height: 80px;
    margin-top: 10px;
  }

  .product-info-description {
    font-size: 10px;
    line-height: 14px;
  }

  .product-info-delivery {
    font-size: 11px;
    line-height: 13px;

  }

  .product-info-action {
    display: flex;
    margin-bottom: 30px;
    margin-top: 9px;
  }


  .product-info-action-button-buy {
    width: 130px;
    height: 31px;
  }

  .conteiner-offer {
    height: 195px;
    padding-left: 0;
  }

  .conteiner-offer-product-image {
    height: 80px;
    margin-top: 10px;
  }

  .product-info-description {
    font-size: 10px;
    line-height: 14px;
  }

  .product-info-delivery {
    font-size: 9px;
    line-height: 13px;

  }

  .product-info-action {
    display: flex;
    margin-bottom: 20px;
    margin-top: 9px;
  }


  .product-info-action-button-buy {
    width: 130px;
    height: 31px;
  }

  .conteiner-offer {
    height: 195px;
  }

  .conteiner-offer-product-image {
    height: 50px;
    width: auto;
    align-self: center;
    background-image: url("../img/main_special_offers/product_img.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
  }
}

@media screen and (max-width: 490px) {
  .container__special-offers-list {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  }

  .conteiner-offer-product-image {
    height: 80px;
    margin-top: 10px;
  }

  .product-info-description {
    font-size: 10px;
    line-height: 12px;
  }

  .product-info-delivery {
    font-size: 11px;
    line-height: 13px;

  }


  .product-info-action {
    display: flex;
    margin-bottom: 20px;
    margin-top: 9px;
  }


  .product-info-action-button-buy {
    width: 120px;
    height: 31px;
    font-size: 12px;
    margin-top: 10px;
  }

  .conteiner-offer {
    height: 195px;
  }

  .product-info-action {
    margin: 0;
    width: 150px;
  }
}


@media screen and (max-width: 480px) {
  .banner {
    height: 160px;
  }

  .slider {
    height: 157px;
  }

  .slider-container {
    padding: 5px;
  }

  .slider__text {
    width: 95%;
  }

  .slider__text-title {
    font-size: 14px;
    line-height: 16px;
  }

  .slider__text-description {
    margin: 6px 0;

    font-size: 12px;
    line-height: 14px;
  }

  .slider__text-status-item {
    font-size: 10px;
    line-height: 12px;
  }

  .slider__text-price {
    margin: 6px 0;
  }

  .slider__text-price span {
    font-size: 18px;
    line-height: 20px;
  }

  .slider__text-button-buy {
    width: 120px;
    height: 28px;

    font-size: 12px;
    line-height: 14px;
  }

  .slider__text-button-cart {
    width: 40px;
    height: 28px;
  }

  .guarantees {
    height: 28px;
    padding: 0 5px;
  }

  .guarantees-container__item {
    font-size: 10px;
    line-height: 12px;
  }

  .guarantees-container__item img {
    margin-right: 6px;
  }

  .special-offers-top-title {
    margin: auto;
    font-size: 22px;
  }

  .section-top__title {
    text-align: center;
  }

  .services {
    margin-top: 30px;
  }

  .showroom {
    margin-top: 30px;
  }

  .partners {
    margin-top: 35px;
  }
}

@media screen and (max-width: 475px) {
  .container__special-offers-list {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }

  #offer1,
  #offer2,
  #offer3,
  #offer4 {
    display: grid;
  }

  #offer5,
  #offer6,
  #offer7,
  #offer8,
  #offer9,
  #offer10 {
    display: none;
  }

  .product-info-delivery {
    font-size: 11px;
    line-height: 13px;

  }

  .product-info-description {
    font-size: 13px;
    line-height: 14px;
  }

  .conteiner-offer-product-image {
    height: 50px;
    width: auto;
    align-self: center;
    background-image: url("../img/main_special_offers/product_img.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}

@media screen and (max-width: 400px) {
  .showroom {
    height: 280px;
  }

  .showroom-photos__item {
    width: 100%;
  }

  .showroom-photos__item1 {
    display: none;
  }

  .product-info-description {
    font-size: 12px;
    line-height: 14px;
  }
}

@media screen and (max-width: 380px) {
  .container__special-offers-list {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }

  .product-info-delivery {
    font-size: 10px;
    line-height: 13px;

  }

  .product-info-description {
    font-size: 11px;
    line-height: 14px;
  }

  .conteiner-offer-product-image {
    height: 50px;
    width: auto;
    align-self: center;
    background-image: url("../img/main_special_offers/product_img.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
  }
}

@media screen and (max-width: 336px) {
  .container__special-offers-list {
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  }

  .product-info-description {
    font-size: 10px;
    line-height: 14px;
  }
}

@media screen and (max-width: 320px) {
  .showroom {
    height: 230px;
  }

  .partners {
    margin-top: 20px;
  }

  .partners__item6 {
    display: none;
  }
}