.main-container {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: var(--container-padding-left);
  padding-right: var(--container-padding-right);
  box-sizing: border-box;
}


/* Стилизация слайдера */
.banner {
  width: 100%;
  height: 313px;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  column-gap: 45px;
}

.catalog-list {
  width: 300px;
  height: 100%;
  padding: 11px 15px 27px 15px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  row-gap: 13px;

  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  box-shadow: 0px 1px 10px rgba(208, 208, 208, 0.25);
  border-radius: 4px;
}

.catalog-list__item a {
  width: 100%;

  display: inline-block;

  text-decoration: none;
  color: #272727;

  background-image: url(../img/main/catalog-arrow_dark.svg);
  background-repeat: no-repeat;
  background-position: right;
}

.catalog-list__item a:hover {
  color: #5661CB;
  background-image: url(../img/main/catalog-arrow_purple.svg);
}

.catalog-list__item span {
  color: #D41A36;
}

.slider {
  height: 301px;

  flex-grow: 1;

  position: relative;

  background: url(../img/main/best-price.png) 0% 10% no-repeat, url(../img/main/slider-background.png) no-repeat;
  box-shadow: 0px 1px 10px rgba(208, 208, 208, 0.25);
  border-radius: 12px;
}

.slider-container {
  width: 398px;
  height: 100%;
  padding: 31px 59px 58px 56px;
  box-sizing: border-box;

  position: absolute;
  right: 0;

  display: flex;
  flex-direction: column;

  color: #FFFFFF;
  background-color: #5D68CF;
  border-radius: 0px 12px 12px 0px;
}

.slider__text-title {
  margin: 0;

  font-family: 'SF Compact Rounded';
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
}

.slider__text-description {
  margin: 10px 0;

  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
}

.slider__text-status {
  display: flex;
}

.slider__text-status-item {
  margin-right: 30px;

  display: inline-block;

  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  text-decoration: underline;
}

.slider__text-price {
  margin: 13px 0;

  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.slider__text-price span {
  font-weight: 500;
  font-size: 26px;
  line-height: 30px;
}

.slider__text-action {
  display: flex;
}

.slider__text-button-buy {
  width: 142px;
  height: 33px;
  padding: 0;
  margin-right: 9px;

  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #272727;

  background-color: #FFFFFF;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}

.slider__text-button-cart {
  width: 55px;
  height: 33px;
  padding: 5px 0 0 0;
  box-sizing: border-box;

  background-color: #5D68CF;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  cursor: pointer;
}

.slider__text-button-buy:hover,
.slider__text-button-cart:hover {
  opacity: 90%;
}

.slider__text-button-buy:active,
.slider__text-button-cart:active {
  position: relative;
  top: 1px;
}

.guarantees {
  width: 100%;
  height: 49px;
  margin-top: 26px;
  box-sizing: border-box;

  display: flex;
  justify-content: flex-end;
}

.guarantees-container {
  width: 1031px;

  display: flex;
  justify-content: space-between;
}

.guarantees-container__item {
  display: flex;
  align-items: center;

  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #272727;
}

.guarantees-container__item img {
  margin-right: 12px;
}

/* Стилизация раздела Спецпредложений */

.container__special-offers {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 10px;
}

.container__special-offers-top {
  display: flex;
  flex-direction: row;
  font-family: 'SF Compact Rounded';
  font-weight: 500;
  font-size: 36px;
  line-height: 43px;
  color: #272727;
}

.special-offers-link-to-discounts {
  text-decoration: none;
  text-decoration: underline;
  color: #D41A36;
  font-size: 16px;
  text-align: center;
  margin-left: auto;
}

/* новое - изменила minmax */
.container__special-offers-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

  gap: 30px;
  margin-top: 30px;
}

.conteiner-offer {
  height: 325px;
  padding-bottom: 10px;
  box-shadow: 0px 1px 10px rgba(208, 208, 208, 0.25);
}

.conteiner-offer-top {
  display: flex;
  justify-content: space-between;
  margin-top: 13px;
}

.conteiner-offer-top-star {
  margin-right: 10px;
}

/* новое */
.conteiner-offer-top-star9 {
  margin-left: auto;
  margin-right: 10px;
}

.conteiner-offer-product-image {
  height: 86px;
  width: auto;
  align-self: center;
  background-image: url("/img/main_special_offers/product_img.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.conteiner-offer-product-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 9px 9px 9px 9px;
  box-sizing: border-box;
  border-radius: 0px 12px 12px 0px;
  margin-bottom: 10px;
}

.product-info-description {
  font-family: 'SF Compact Rounded';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #272727;
}

.product-info-amount {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  margin-top: 5px;
  color: #494949;
}

.product-info-format {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  margin: 3px 0 0 0;
  color: #494949;
}

.product-info-delivery-availability {
  display: flex;
  justify-content: space-between;
}

.product-info-delivery {
  margin: 9px 0 0 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  text-decoration-line: underline;
  color: #7D7D7D;
}

.product-info-availability {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  text-decoration-line: underline;
  color: #219653;
  margin: 9px 0 0 0;
}

.product-info-price {
  color: #272727;
  font-family: 'SF Compact Rounded';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 19px;
  font-weight: bolder;
  margin: 11px 0 0 0;
}

.product-info-price-change {
  display: flex;
}

.product-info-price-strike {
  color: #272727;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  font-weight: smaller;
  margin: 11px 0 0 0;
  margin-left: auto;

}

.product-info-action {
  display: flex;
  margin-bottom: 20px;
  margin-top: 9px;
}


.product-info-action-button-buy {
  width: 142px;
  height: 33px;
  padding: 0;
  margin-right: 9px;

  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: white;

  background-color: #5661CB;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}

.product-info-action-button-mark {
  width: 55px;
  height: fit-content;
  padding: 0;
  box-sizing: border-box;
  align-self: center;

  background-color: white;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 100px;

}

.button-mark-image {
  width: 55px;
  height: 33px;
  padding: 0;
  box-sizing: border-box;

  background-color: white;
  border: 1px solid white;
  border-radius: 4px;
  cursor: pointer;
  opacity: 90%;
}

.product-info-price-red {
  color: #D41A36;
  font-family: 'SF Compact Rounded';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 19px;
  font-weight: bolder;
  margin: 11px 0 0 0;
}

/* новое  */
/* Медиазапросы */
@media screen and (max-width: 1439px) {
  .banner {
    height: 273px;
  }

  .catalog-list {
    width: 229px;
    padding: 3px 10px 21px 11px;

    font-size: 14px;
    line-height: 16px;
  }

  .slider {
    height: 268px;
  }

  .slider-container {
    width: 45%;
    padding: 10px;
  }

  .slider__text {
    width: 60%;
    min-width: 227px;
    margin: auto;
  }

  .slider__text-title,
  .slider__text-description,
  .slider__text-price {
    display: inline-block;
  }

  .slider__text-title {
    font-size: 18px;
    line-height: 22px;
  }

  .slider__text-status-item {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: auto;
  }

  .guarantees {
    margin-top: 41px;
    padding: 0 15px;
  }

  .guarantees-container {
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .banner {
    margin-top: 8px;
  }

  .catalog-list {
    display: none;
  }

  .guarantees {
    height: 39px;
    margin-top: 21px;
  }

  .guarantees-container__item {
    font-size: 12px;
    line-height: 14px;
  }





  .container__special-offers-list {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  #offer9,
  #offer10 {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .banner {
    height: 218px;
  }

  .slider {
    height: 215px;
  }

  #guarantee4 {
    display: none;
  }
}

@media screen and (max-width: 590px) {
  .slider {
    background: url(../img/main/slider-background.png) no-repeat;
  }

  .slider-container {
    width: 100%;

    background-color: #5d68cfc1;
    border-radius: 12px;
  }

  .slider__text {
    width: 80%;
  }

  #guarantee3 {
    display: none;
  }
}

@media screen and (max-width: 479px) {
  .banner {
    height: 160px;
  }

  .slider {
    height: 157px;
  }

  .slider-container {
    padding: 5px;
  }

  .slider__text {
    width: 95%;
  }

  .slider__text-title {
    font-size: 14px;
    line-height: 16px;
  }

  .slider__text-description {
    margin: 6px 0;

    font-size: 12px;
    line-height: 14px;
  }

  .slider__text-status-item {
    font-size: 10px;
    line-height: 12px;
  }

  .slider__text-price {
    margin: 6px 0;
  }

  .slider__text-price span {
    font-size: 18px;
    line-height: 20px;
  }

  .slider__text-button-buy {
    width: 120px;
    height: 28px;

    font-size: 12px;
    line-height: 14px;
  }

  .slider__text-button-cart {
    width: 40px;
    height: 28px;
  }

  .guarantees {
    height: 28px;
    padding: 0 5px;
  }

  .guarantees-container__item {
    font-size: 10px;
    line-height: 12px;
  }

  .guarantees-container__item img {
    margin-right: 6px;
  }
}