.main-container {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 36px;
  padding-right: 24px;
  box-sizing: border-box;
}


/* Стилизация слайдера */
.slider-container {
  width: 100%;
  height: 313px;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.catalog-list {
  width: 300px;
  height: 100%;

  display: flex;
  flex-direction: column;
  row-gap: 13px;

  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  box-shadow: 0px 1px 10px rgba(208, 208, 208, 0.25);
  border-radius: 4px;
}

.catalog-list__item a {
  text-decoration: none;
  color: #272727;
}

.slider {
  width: 1035px;
  height: 301px;

  position: relative;

  background-image: url(../img/main/slider-background.png);
  background-repeat: no-repeat;
}

.slider__text {
  width: 398px;
  height: 301px;

  position: absolute;
  right: 0;

  color: #FFFFFF;
  background-color: #5D68CF;
}

.slider__text-title {
  font-family: 'SF Compact Rounded';
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
}

/* Стилизация раздела Спецпредложений */

.main-container-special_offer {
  margin-top: 30px;
  margin-bottom: 30px;
}

.main-container-special_offer-title {
  display: flex;
}

.main-container-special_offer-title {
  font-family: 'SF Compact Rounded';
  font-weight: 500;
  font-size: 36px;
  line-height: 43px;
}

.go_to_discounts {
  width: 245px;
  height: 19px;
  margin-left: auto;
}

.main-container-special_offers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 30px;
  margin-top: 30px;
}

.main-conteiner-offer {
  height: 322px;
  box-shadow: 0px 1px 10px rgba(208, 208, 208, 0.25);
}